#header {
  margin: 0;
  padding: 50px;
  background-image: url(/img/LDI.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  line-height: 50px;
}

#div-main {
  display: flex;
  flex-wrap: wrap;
}

.div-section {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

h3 {
  margin-top: 5x;
  padding-left: 10px;
}
